.row-div{
  display: flex;  
  justify-content: center;
}

.row-div #div1-name{
  width: 70%;
}

.row-div #div2-image{
  width: 30%;
}

.row-div #div2-image img{
  border-radius: 8px;
}

.event-wrapper{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .ticketCard{
    border: solid 1px #5C6BC0 ;
      box-shadow:  0 0 10px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      flex: 0 1 calc(23.3% - 22px);
      text-align: center;
      padding: 10%;
      padding-top: 5%;
}

table.center {
    width: 100%;
    height: 100%;
    border-collapse:collapse
  }


table.center mat-form-field{
    width: 100%;
    text-align: center;
}

table.center select{
  text-align-last: center;
}

.attribute{
  text-align: right;
}

.attachmentWrapper{
  display: flex;
}

