<app-navbar [loggedIn]='false'></app-navbar>

<div class="event-wrapper" *ngIf="event">

  <mat-card class="ticketCard">

    <h1>
      <div class="row-div">
        <div id="div1-name">
          <h4>{{event.name}}</h4>
          <div *ngFor="let c of event.categories">
            <hr [ngStyle]="{ 'height' : '1px', 'border-top' : '10px solid', 'border-color' : c.color }" />
          </div>
        </div>
        <div id="div2-image">
          <img src="{{getPicture(event.background)}}"  alt="Refresh the page" width="100%" height="200px">
        </div>
      </div>  
    </h1>
    <br><br>

    <mat-card-content>
      <table class="center">
        <tr>
          <td >Name:</td >
          <td>
          <mat-form-field >
            <input id="name"
                  matInput
                  required minlength="2" maxlength="20" pattern="[a-z A-Z 0-9]*"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)] = "event.name"  #name="ngModel"/>
                  <mat-error >Name is required and can contain only letters.</mat-error>
                  <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
          </td>
          <td>
            <button mat-icon-button type="submit" color="primary" id="nameBtn" (click) = "name.valid && updateEventName()">
              Save
            </button>
          </td>
        </tr>

        <tr>
          <td>Description:</td>
          <td>
          <mat-form-field >
            <textarea id="description"
                  matInput
                  required  maxlength="100"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)] = "event.description"  #description="ngModel">
            </textarea>
                  <mat-error >Description is required.</mat-error>
                  <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
          </td>
          <td>
            <button mat-icon-button type="submit" color="primary" id="descriptionBtn" (click) = "description.valid && updateEventDescription()">
              Save
            </button>
          </td>
        </tr>

        <tr>
          <td>Last Day To Pay:</td>
          <td>
          <mat-form-field >
            <input id="lastDayToPay"
                  matInput
                  required pattern="[0-9]*"
                  type="number"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)] = "event.lastDayToPay"  #lastDayToPay="ngModel"/>
                  <mat-error >LastDayToPay is required.</mat-error>
                  <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
          </td>
          <td>
            <button mat-icon-button id="lastDayToPayBtn" type="submit" color="primary" (click) = "lastDayToPay.valid && changeLastDayToPay()">
              Save
            </button>
          </td>
        </tr>

        <tr  *ngIf="event.status == 0">
          <td>Event Status:</td>
          <td>
            <mat-form-field>
              <select id="eventStatus"  matNativeControl required [(ngModel)] = "event.status">
                  <option value="0">NORMAL</option>
                  <option value="1">BLOCKED</option>
                </select>
            </mat-form-field>
          </td>
          <td>
            <button id="eventStatusBtn" mat-icon-button type="submit" color="primary" (click) = "blockEvent()">
              Save
            </button>
          </td>
        </tr>

        <tr>
          <td>Controll Access:</td>
          <td>
            <mat-form-field>
              <mat-select id="controllAccess" style="text-align-last:center;" *ngIf="event.controllAccess == true" matNativeControl required>
                  <mat-option value="true">True</mat-option>
                  <mat-option value="false">False</mat-option>
                </mat-select>
              <mat-select id="controllAccess" *ngIf="event.controllAccess == false" matNativeControl required>
                <mat-option  value="false">False</mat-option>
                <mat-option value="true">True</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button type="submit" color="primary" id="controllAccessBtn" (click) = "changeEventControllAccess()">
              Save
            </button>
          </td>
        </tr>
        <br><br>


        <tr>
          <td>Dates:</td>
          <td>
            <mat-accordion>
              <mat-expansion-panel id="dateExtensionPanel">
                <mat-expansion-panel-header>
                  <mat-panel-description>
                    Add or delete event date
                  </mat-panel-description>
                </mat-expansion-panel-header>
            
                <mat-action-list>
                  <button mat-list-item *ngFor="let d of event.date; let i = index " (click)="removeDate(i)"
                    matTooltip="Removes date" [id]="event.date[i] | date: 'medium'" > {{d | date: 'medium'}} </button>
                </mat-action-list>

                <mat-form-field >
                  <input id = "dateInput" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                  matInput
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)] = "datePick"
                  placeholder="Add New Date">
                  <owl-date-time #dt1></owl-date-time>      
            </mat-form-field>
                  <button mat-stroked-button color="primary" id="addDateBtn" (click)="addDate()">Add
                  </button>
              </mat-expansion-panel>
            </mat-accordion>
          </td>
          <td>
            <button mat-icon-button type="submit" color="primary" id="changeEventDateBtn" (click) = "changeEventDate()">
              Save
            </button>
          </td>
        </tr>
        <br><br>
        <tr>
          <td>Categories:</td>
          <td>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-description>
                    Add or delete category
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-action-list>
                  <button mat-list-item *ngFor="let c of event.categories; let i = index " (click)="removeCategory(i)"
                    matTooltip="Removes category"> <div [ngStyle]="{  'background-color' : c.color, 'width': '100%' }" [id]="c.id">  {{c.name}}</div>  </button>
                </mat-action-list>
                <mat-form-field>
                  <mat-label>Select Category</mat-label>
                  <mat-select [(value)]="categoryPick" id="categorySelect" matNativeControl>
                    <mat-option [id] = "c.id + 'ID'" *ngFor="let c of this.categories" [value]="c">
                      {{c.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-stroked-button color="primary" id="addCategoryBtn" (click)="addCategory()"
                        matTooltip="Adds chosen category">Add</button>
              </mat-expansion-panel>
            </mat-accordion>
          </td>
          <td>
            <button mat-icon-button type="submit" color="primary">
              Save
            </button>
          </td>
        </tr>
        <br><br>


        <tr>
          <td>Attachments:</td>
          <td>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-description>
                    Add or delete attachment
                  </mat-panel-description>
                </mat-expansion-panel-header>
                
                <mat-action-list>
                  <div class="attachmentWrapper">
                  <button mat-list-item *ngFor="let a of event.attachments; let i = index " (click)= "removeAttachment(i)"
                    matTooltip="Removes attachment">  <img src="{{getPicture(a)}}" width="50px" height="50px" alt=""> </button>
                  </div>
                </mat-action-list>
                <td>
                  <div>
                    <input id="attachmentInput" hidden type="file" (change)="addAttachment($event.target.files)" name="file"
                    accept=".jpg,.png,.jpeg">
                    <button mat-icon-button color="primary" (click)="openAttachmentInput()" matTooltip="Uploads chosen photo for Event background (jpg,png,jpeg)">Upload</button>
                </div>
                </td>
              </mat-expansion-panel>
            </mat-accordion>
          </td>
          <td>
            <button mat-icon-button type="submit" color="primary">
              Save
            </button>
          </td>
        </tr>
        <br><br>
        <tr>
          <td >Ticket Background:</td >
          <td>
            
            
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-description>
                  Show current background
                </mat-panel-description>
              </mat-expansion-panel-header>
              <img src="{{getPicture(event.background)}}" alt="Refresh the page" width="60%" height="60%">
            
            </mat-expansion-panel>
           
          </td>
          <td>
            <div>
              <input id="fileInput" hidden type="file" (change)="changeTicketBackground($event.target.files)" name="file"
              accept=".jpg,.png,.jpeg">
              <button mat-icon-button color="primary" (click)="openInput()" matTooltip="Uploads chosen photo for Event background (jpg,png,jpeg)">Upload</button>
          </div>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

</div>