<div>
    <div class="ticket-wrapper">
        <mat-card class="ticketCard" *ngFor="let event of events">
            <mat-card-header>
                <mat-card-title class="event-card-event-name">{{event.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content flex style="text-align: center;">
                <div *ngFor="let c of event.categories">
                    <hr [ngStyle]="{ 'height' : '1px', 'border-top' : '10px solid', 'border-color' : c.color }" />
                </div>

                <img mat-card-img height="220px" width="220px" src={{getPicture(event.background)}} alt="event.backgroundName" />
                <br/><br/>
                <table>
                    <tr>
                        <td><b>Location:</b>
                        </td>
                        <td class="event-card-location-name">
                            <div class="show-map" (click)="showOnMap(event.locationName)"><i class="fa fa-map-marker " aria-hidden="true"></i> &nbsp;{{event.locationName}} </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div style="text-align: left;"> <b> Dates: </b> </div>
                        </td>
                        <div *ngFor="let d of event.date">
                            <td style="text-align: left;"> {{ d | date:'mediumDate' }} {{ d | date:'shortTime' }}</td>
                        </div>
                    </tr>

                    <tr class="categories-tr">
                        <td>
                            <div style="text-align: left;"> <b> Categories: </b> </div>
                        </td>
                        <td>
                            <div *ngFor="let c of event.categories">
                                <div> {{ c.name }} </div>
                            </div>
                        </td>

                    </tr>

                    <tr>
                        <td style="text-align: left;"><b>Status: </b> </td>
                        <td *ngIf="event.status === 0"> Available </td>
                        <td *ngIf="event.status === 1"> Blocked </td>
                        <td *ngIf="event.status === 2"> Sold </td>
                    </tr>
                </table>
            </mat-card-content>
            <div class="actions-div">
                <mat-card-actions>
                    <button mat-stroked-button color="accent" (click)="showDetails(event.id)">DETAILS</button>
                </mat-card-actions>
            </div>
        </mat-card>
    </div>
    <mat-paginator class="paginator" [length]="page.length" [pageIndex]="page.pageIndex" [pageSize]="page.pageSize" [pageSizeOptions]="[3, 4, 5, 6, 7, 8]" (page)="sendPage($event)" showFirstLastButtons>
    </mat-paginator>
</div>