.ticket-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 50px 100px;
    /*width: 92%;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 2%;*/
    text-align: center;
}

.ticket-wrapper>* {
    box-sizing: border-box;
    margin-bottom: 10px;
}

.ticket-wrapper>*:not(:last-child) {
    margin-right: 32px;
}

.ticketCard {
    border: solid 1px #5C6BC0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    flex: 0 1 calc(23.3% - 22px);
    text-align: center;
    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        /* If you want dots under the hoverable text */
    }
    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
}

.paginator {
    margin-left: 15%;
    width: 70%;
    display: flex;
    justify-content: center;
    color: black;
}