<div class="categories">
    <h2 align="center">Categories</h2>

    <div class="mat-elevation-z8 category-table-div">
        <button mat-stroked-button id="new-category-btn" color="primary" class="btn-block buttonRight" (click)="newCategory()">New
        Category</button>
        <table mat-table id="categories-table" [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let category" [id]="category.name" class="category-name">{{category.name}}</td>
            </ng-container>
            <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef>Color</th>
                <td mat-cell *matCellDef="let category">
                    <svg width="50" height="30">
                    <rect width="50" height="30" [style.fill]="category.color"/>
                </svg>
                </td>
            </ng-container>
            <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef>Icon</th>
                <td mat-cell *matCellDef="let category">
                    <img [src]="getImage(category.icon)" alt="" width="50" height="40">
                </td>
            </ng-container>
            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef>Update</th>
                <td mat-cell *matCellDef="let category"><button mat-stroked-button [id]="'update-category-' + category.name" color="primary" (click)="update(category.id)">Update</button></td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let category"><button mat-stroked-button [id]="'delete-category-' + category.name" color="primary" (click)="delete(category)">Delete</button></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>