<div>
    <mat-card class="box">
        <mat-card-header>
            <h2 *ngIf="operation === 'create'">New Hall</h2>
            <h2 *ngIf="operation === 'update'">Update Hall</h2>
        </mat-card-header>
        <form [formGroup]="hallForm" noval>
            <div class="form-container">
                <mat-form-field>
                    <input id="name" matInput formControlName="name" placeholder="Name" />
                </mat-form-field>
            </div>
            <button id="createHallBt" *ngIf="operation === 'create'" (click)="onHallSubmit()" type="submit" mat-stroked-button color="primary">Create</button>
            <button id="updateHallBt" *ngIf="operation === 'update'" (click)="onHallUpdate()" type="submit" mat-stroked-button color="primary">Update</button>
            <button (click)="cancel()" mat-stroked-button color="primary">Cancel</button>
        </form>
    </mat-card>
</div>