<div>
    <app-categories-list *ngIf="selectedScreen===0" (addCategoryEvent)="addCategoryEvent($event)"></app-categories-list>
    <app-add-category *ngIf="selectedScreen===1" (cancelEvent)="cancel()" [operation]="categoryOperation" [categoryId]="categoryId"></app-add-category>
</div>