<div class="form-wrapper">
    <mat-card class="box" style="width: 500px; max-width: 500px;" >
        <div class="form-container">
            <mat-card-header>
                <mat-card-title>{{event.name}}</mat-card-title>
            </mat-card-header>

            <mat-card-content flex style="text-align: center;">
                <table class="center">
                    <tr>
                        <td> Location: </td>
                        <td> {{event.locationName}} </td>
                    </tr>
                    <tr>
                        <td> Hall: </td>
                        <td> {{event.hallName}} </td>
                    </tr>
                </table>
                <br />

                <mat-form-field>
                    <mat-label>Select Date</mat-label>
                    <mat-select [(value)]="datePick" (selectionChange)="chooseDate()">
                        <mat-option *ngFor="let d of event.date" [value]="d">
                            {{d | date:'medium'}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>

                <mat-form-field>
                    <mat-label>Select Section</mat-label>
                    <mat-select [(value)]="sectionPick" (selectionChange)="chooseSection()">
                        <mat-option *ngFor="let s of eventSections" [value]="s">
                            {{s.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="sectionPick">
                    <br />
                    <table *ngIf="sectionPick" class="center">
                        <tr>
                            <td>Price: </td>
                            <td>{{sectionPick.price}}</td>
                        </tr>
                        <tr *ngIf="!sectionPick.numerated">
                            <td>Tickets Left: </td>
                            <td>{{sectionPick.numberOfSeats - ticketCount}}</td>
                        </tr>
                        <br />
                        <tr *ngIf="!sectionPick.numerated">
                            <td>
                                <mat-form-field>
                                    <input id="numberOfTickets"
                                    matInput
                                    required min="1"
                                    type="number"
                                    [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="numberOfTickets"
                                    placeholder="Number of tickets" />
                                    <mat-error >Number of tickets is required.</mat-error>
                                  </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </div>


                <canvas id='canvas'></canvas>
                <p>{{getSelectedSeatsString()}}</p>
            </mat-card-content>
            <div style="text-align: center;">
                <mat-card-actions *ngIf="!event.controllAccess || event.controllAccess && eventApplication">
                    <button mat-stroked-button color="accent" (click)="buyTicket()">Buy</button>
                    <button mat-stroked-button color="accent" (click)="reserveTicket()">Reserve</button>
                    <button mat-stroked-button color="accent" (click)="emitCloseComponent()">Back</button>
                </mat-card-actions>
                <mat-card-actions *ngIf="event.controllAccess && !eventApplication">
                    <button mat-stroked-button color="accent" (click)="addEventApplication()">Get Application</button>
                    <button mat-stroked-button color="accent" (click)="emitCloseComponent()">Back</button>
                </mat-card-actions>
            </div>
        </div>
    </mat-card>
</div>