.event-wrapper {
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.event-wrapper .form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
}

.event-wrapper .field-full-width,
.event-wrapper .btn-block {
    width: 100%;
}

.event-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
}

.event-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0;
}

.event-wrapper .mat-card {
    padding: 40px 70px 50px;
}

.event-wrapper .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 54px;
    background: #FFF7FA;
}

.ticketCard {
    border: solid 1px #5C6BC0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    flex: 0 1 calc(23.3% - 22px);
    text-align: center;
}

.event-img {
    height: 300px;
    max-width: 500px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 20px;
    border-collapse: separate;
}

table.inner {
    border-spacing: 10px;
    border-collapse: separate;
}

app-image-slider {
    position: relative;
    left: 1%;
}