<div class="form-wrapper">
    <mat-card class="box">

        <mat-form-field>
            <input id="name" matInput required minlength="4" maxlength="100" pattern="[a-z A-Z 0-9]*"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="newEvent.name" #name="ngModel"
                placeholder="Event Name" />
            <mat-error>Name is required and can contain only letters.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <textarea id="description" matInput required maxlength="300" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="newEvent.description" #name="ngModel" placeholder="Description">
            </textarea>
            <mat-error>Description is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input id="addDatePicker" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" matInput
                [ngModelOptions]="{standalone: true}" [(ngModel)]="datePick" placeholder="Add New Date">
            <owl-date-time #dt1></owl-date-time>
        </mat-form-field>
        <button id="addDateBtn" mat-stroked-button color="primary" (click)="addDate()">Add</button>

        <mat-action-list>
            <button mat-list-item *ngFor="let d of newEvent.date; let i = index " (click)="removeDate(i)"
                matTooltip="Removes date"> {{d | date:'medium'}} </button>
        </mat-action-list>
        <br />

        <mat-form-field>
            <input id="salesDatePicker" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" matInput required
                [ngModelOptions]="{standalone: true}" [(ngModel)]="newEvent.salesDate" placeholder="Sales Date">
            <owl-date-time #dt2></owl-date-time>
        </mat-form-field>
        <br />

        <mat-form-field>
            <input id="lastDayToPay" matInput required min="0" type="number" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="newEvent.lastDayToPay" placeholder="Last Day To Pay" />
            <mat-error>Last day to pay is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select Controlled Access</mat-label>
            <mat-select id="controllAccessSelect" [(value)]="newEvent.controllAccess">
                <mat-option id="controllAccessTrue" value="true">True</mat-option>
                <mat-option id="controllAccessFalse" value="false">False</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="newEvent.controllAccess == 'true'">
            <input id="applicationDatePicker" [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" matInput required
                [ngModelOptions]="{standalone: true}" [(ngModel)]="newEvent.applicationDate"
                placeholder="Application Date">
            <owl-date-time #dt3></owl-date-time>
        </mat-form-field>
        <br />

        <div>
            <input id="fileInput" hidden type="file" (change)="fileChange($event.target.files)"
                accept=".jpg,.png,.jpeg">
            <button id="fileInputBtn" class="margin5" mat-stroked-button color="primary" (click)="openInput()"
                matTooltip="Uploads chosen photo for Event background (jpg,png,jpeg)">Upload Event Background</button>
        </div>
        <br />

        <div>
            <input id="attachmentInput" hidden type="file" (change)="attachmentChange($event.target.files)"
                accept=".jpg,.png,.jpeg">
            <button id="attachmentInputBtn" class="margin5" mat-stroked-button color="primary"
                (click)="openAttachmentInput()"
                matTooltip="Uploads chosen file for Event attachments (jpg,png,jpeg)">Upload Event Attachment</button>
        </div>
        <br />

        <mat-action-list>
            <button mat-list-item *ngFor="let a of newEvent.attachments; let i = index " (click)="removeAttachment(i)"
                matTooltip="Removes attachment"> Attachment {{i + 1}} </button>
        </mat-action-list>
        <br />

        <mat-form-field>
            <mat-label>Select Category</mat-label>
            <mat-select id="categorySelect" [(value)]="categoryPick">
                <mat-option *ngFor="let c of categories" [value]="c" [id]="c.name">
                    {{c.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <table>
            <tr>
                <td><button id="addCategoryBtn" mat-stroked-button color="primary" (click)="addCategory()"
                        matTooltip="Adds chosen category">Add</button></td>
            </tr>
        </table>

        <mat-action-list>
            <button mat-list-item *ngFor="let c of newEvent.categories; let i = index " (click)="removeCategory(i)"
                matTooltip="Removes category"> {{c.name}} </button>
        </mat-action-list>
        <br />

        <mat-form-field>
            <mat-label>Select Location</mat-label>
            <mat-select id="locationSelect" [(value)]="chosenLocation" (selectionChange)="getChosenLocation()">
                <mat-option *ngFor="let l of locationNames" [value]="l" [id]="l">
                    {{l}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="foundLocation">
            <mat-label>Select Hall</mat-label>
            <mat-select id="hallSelect" [(value)]="chosenHall" (selectionChange)="getChosenHall()">
                <ng-containter *ngFor="let h of foundLocation.halls">
                <mat-option  *ngIf="h.active" [value]="h" [id]="h.name">
                    {{h.name}}
                </mat-option>
            </ng-containter>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="chosenHall">
            <mat-label>Select Section</mat-label>
            <mat-select id="sectionSelect" [(value)]="chosenSection">
            <ng-containter *ngFor="let s of chosenHall.sections">
                <mat-option  *ngIf="s.active" [value]="s" [id]="s.name">
                    {{s.id + " " + s.name}}
                </mat-option>
            </ng-containter>
            </mat-select>
        </mat-form-field>

        <table *ngIf="chosenHall">
            <tr>
                <td>
                    <mat-form-field>
                        <input id="sectionPrice" matInput required min="0" type="number"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="sectionPrice"
                            placeholder="Section Price" />
                        <mat-error>Section price is required.</mat-error>
                    </mat-form-field>
                </td>
                <td><button id="addSectionBtn" mat-stroked-button color="primary" (click)="addSection()"
                        matTooltip="Adds chosen section with price">Add</button></td>
            </tr>
        </table>

        <mat-action-list *ngIf="chosenHall">
            <button mat-list-item *ngFor="let s of getKeys()" (click)="removeSection(s)"
                matTooltip="Removes event section"> {{s + " " + newEvent.eventSections.get(s)}} </button>
        </mat-action-list>
        <br />

        <button id="addEventBtn" mat-stroked-button color="primary" (click)="addEvent()"
            matTooltip="Adds new event to system">Add
            Event</button>

    </mat-card>
</div>