<div>
    <mat-card class="box">
        <h2>Section Info</h2>
        <mat-list>
            <mat-list-item>Name: {{section.name}}</mat-list-item>
            <mat-list-item *ngIf="section.numerated">Rows: {{section.rows}}</mat-list-item>
            <mat-list-item *ngIf="section.numerated">Columns: {{section.columns}}</mat-list-item>
            <mat-list-item>Seats: {{section.numberOfSeats}}</mat-list-item>
            <mat-list-item>Status: {{getSectionStatus()}}</mat-list-item>
        </mat-list>
        <button (click)="back()" mat-stroked-button color="primary" class="margin5">Back</button>
        <button mat-stroked-button color="primary" (click)="updateSection()">Update</button>
        <button *ngIf="section.active" (click)="deactivateSection()" mat-stroked-button color="warn">Deactivate</button>
        <button *ngIf="!section.active" (click)="activate()" mat-stroked-button color="warn">Activate</button>
    </mat-card>
</div>