table {
    width: 60%;
}

.medium-form-filed {
    width: 80%;
    margin-left: 2%;
}

.search-expansion-panel {
    /*background-color: #EDDDCB;*/
    background-color: #F8EAAC;
}

.form-btn {
    margin: 4px;
}