<mat-expansion-panel class="search-expansion-panel">
    <mat-expansion-panel-header>
        <mat-panel-title align="right">
            Detailed search
        </mat-panel-title>

    </mat-expansion-panel-header>

    <form [formGroup]="searchForm" noval align="center" (ngSubmit)="searchForm.valid && onSearchSubmit()">
        <table align="center">
            <tr>
                <td>
                    <mat-form-field class="medium-form-filed">
                        <input matInput id="event-name-search" formControlName="eventName" placeholder="Event">
                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field>
                        <input matInput id="from-date-search" formControlName="fromDateTs" min="0" [matDatepicker]="pickerFrom" placeholder="From date">
                        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFrom></mat-datepicker>
                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field>
                        <input matInput id="from-price-search" formControlName="fromPrice" min="0" type="number" placeholder="From price">
                        <mat-error>Please select positve number</mat-error>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    <mat-form-field class="medium-form-filed">
                        <input matInput id="city-search" formControlName="city" placeholder="City">
                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field>
                        <input matInput id="to-date-search" formControlName="toDateTs" [matDatepicker]="pickerTo" placeholder="To date">
                        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                        <mat-datepicker #pickerTo></mat-datepicker>
                    </mat-form-field>
                    <mat-error *ngIf="searchForm.errors?.allOrNoneRequired">You must pick both dates</mat-error>
                    <mat-error *ngIf="searchForm.errors?.compareDates">From date must be before to date</mat-error>
                </td>

                <td>
                    <mat-form-field>
                        <input matInput id="to-price-search" formControlName="toPrice" type="number" placeholder="To price">
                        <mat-error>Please select positve number</mat-error>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    <mat-form-field class="medium-form-filed">
                        <input matInput id="location-name-search" formControlName="locationName" placeholder="Location">
                    </mat-form-field>
                </td>

                <td>&nbsp;</td>
                <td>
                    <button id="reset-search-form-btn" class="form-btn" type="reset" mat-stroked-button color="primary">Reset</button>
                    <button id="search-btn" class="form-btn" type="submit" mat-stroked-button color="primary">Search</button>
                </td>
            </tr>

        </table>
    </form>
</mat-expansion-panel>