<div>
    <button id="newLocationButton" mat-stroked-button color="primary" class="btn-block buttonRight" (click)="newLocation()">New
        Location</button>
    <div id="locationTable" class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="margin5">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Location Name</th>
                <td mat-cell *matCellDef="let element" (click)="info(element)" [id]="element.name">{{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef>City</th>
                <td mat-cell *matCellDef="let element" (click)="info(element)">{{element.city}}</td>
            </ng-container>
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let element" (click)="info(element)">{{element.address}}</td>
            </ng-container>
            <ng-container matColumnDef="longitude">
                <th mat-header-cell *matHeaderCellDef>Longitude</th>
                <td mat-cell *matCellDef="let element" (click)="info(element)">{{element.longitude}}</td>
            </ng-container>
            <ng-container matColumnDef="latitude">
                <th mat-header-cell *matHeaderCellDef>Latitude</th>
                <td mat-cell *matCellDef="let element" (click)="info(element)">{{element.latitude}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td [id]="element.name+'status'" mat-cell *matCellDef="let element" (click)="info(element)">{{getActive(element)}}</td>
            </ng-container>
            <ng-container matColumnDef="deactivate">
                <th mat-header-cell *matHeaderCellDef>Deactivate</th>
                <td [id]="element.name+'deac'" mat-cell *matCellDef="let element"><button *ngIf="element.active" mat-stroked-button color="warn" (click)="deactivate(element)">Deactivate</button>
                    <button *ngIf="!element.active" mat-stroked-button color="warn" (click)="activate(element)">Activate</button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = getServerData($event)" showFirstLastButtons>
        </mat-paginator>
    </div>

</div>