<div>
    <mat-card class="box">
        <h2>Location Info</h2>
        <img [src]="getImage()" alt="" width="200">
        <ul>
            <li>Name: <span id="locationName">{{location.name}}</span></li>
            <li>City: <span>{{location.city}}</span></li>
            <li>Address:<span>{{location.address}}</span> </li>
            <li>Longitude:<span>{{location.longitude}}</span> </li>
            <li>Latitude: <span>{{location.latitude}}</span></li>
            <li>Status: <span>{{getLocationStatus()}}</span></li>
        </ul>
        <button (click)="back()" mat-stroked-button color="primary" class="margin5">Back</button>
        <button id="updateButton" mat-stroked-button color="primary" (click)="updateLocation()">Update</button>
    </mat-card>

    <div class="mat-elevation-z8 width60">
        <h3 class="centered">Halls</h3>
        <button id="newHallButton" mat-stroked-button color="primary" class="buttonRight" (click)="createHall()">New
            Hall</button>
        <table id="hallTable" mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Location Name</th>
                <td mat-cell *matCellDef="let element" (click)="info(element)">{{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="section_number">
                <th mat-header-cell *matHeaderCellDef>Number of Sections</th>
                <td mat-cell *matCellDef="let element" (click)="info(element)">{{element.sections.length}}</td>
            </ng-container>
            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef>Number of Sections</th>
                <td mat-cell *matCellDef="let element" (click)="info(element)">{{getStatus(element)}}</td>
            </ng-container>
            <ng-container matColumnDef="deactivate">
                <th mat-header-cell *matHeaderCellDef>Deactivate</th>
                <td mat-cell *matCellDef="let element"><button *ngIf="element.active" mat-stroked-button color="warn"
                        (click)="deactivate(element)">Deactivate</button>
                        <button *ngIf="!element.active" mat-stroked-button color="warn"
                        (click)="activate(element)">Activate</button></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = getServerData($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>