.buttonRight{
    float: right;
    margin-top: 2%;
    margin-bottom: 2%;
}
table {
    width: 100%;

  }
.width60{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;

}
.centered{
    margin-left: 50%;
    margin-top:3%
}
.margin5{
    margin-right: 5px;
}