<div class="report-wrapper">
    <app-report-form (sendReportParams)="sendReportParams($event)">
    </app-report-form>
    <div *ngIf="earningsData" class="bar-chart">
        <app-bar-chart id="earnings-chart" [barChartLabels]="barChartLabels" [barChartDataArray]="earningsData" [dataLabel]="earningsLabel"></app-bar-chart>
    </div>
    <div *ngIf="soldTicketsData" class="bar-chart">
        <app-bar-chart id="sold-tickets-chart" [barChartLabels]="barChartLabels" [barChartDataArray]="soldTicketsData" [dataLabel]="soldTicketsLabel"></app-bar-chart>
    </div>
</div>