.bar-chart {
    margin-top: 6%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: bisque;
}

.report-wrapper {
    margin-bottom: 5%;
    -ms-overflow-style: none;
}

.report-wrapper::-webkit-scrollbar {
    display: none;
}