<app-navbar [loggedIn]='!loggedIn' [homepage]="true" (sendSearchData)="sendSearchData($event)"></app-navbar>
<app-categories-toolbar [categories]="categories" (sendCategoryChoosen)="sendCategoryChoosen($event)"></app-categories-toolbar>
<app-search-form (sendSearchParams)="sendSearchFormParams($event)" [searchData]="searchData"></app-search-form>
<app-event-card [events]="events" [page]="page" (messageEvent)="receivePage($event)"></app-event-card>