<app-navbar [loggedIn]='false'></app-navbar>

<mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabChanged($event)" *ngIf="role === 'ADMIN' && user">
    <mat-tab label="Informations">
        <app-user-info [user]="user"></app-user-info>
    </mat-tab>
    <mat-tab label="Events">
        <h2 *ngIf="this.page.length === 0" style="text-align: center;">No Events Found</h2>
        <app-event-card *ngIf="this.page.length > 0" [events]="events" [page]="page" (messageEvent)="receivePage($event)"></app-event-card>
    </mat-tab>
    <mat-tab label="Add Event">
        <app-add-event *ngIf="selectedTab === 2"></app-add-event>
    </mat-tab>
    <mat-tab label="Locations">
        <app-location-manager></app-location-manager>
    </mat-tab>
    <mat-tab label="Categories" id="categories-tab">
        <app-categories-manager></app-categories-manager>
    </mat-tab>
    <mat-tab label="Reports" id="reports-tab">
        <app-report></app-report>
    </mat-tab>
</mat-tab-group>