.ticket-wrapper{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin: 50px 100px;
}

.ticket-wrapper > * {
    box-sizing: border-box;
    margin-bottom: 10px;
  }
.ticket-wrapper > *:not(:last-child) {
    margin-right: 32px;
  }

.ticketCard{
    border: solid 1px #5C6BC0 ;
      box-shadow:  0 0 10px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      flex: 0 1 calc(23.3% - 22px);
}

.paginator{
  justify-content: center;
  display: flex;
}