<div>
    <div class="ticket-wrapper">
        <button mat-icon-button [matMenuTriggerFor]="menu">Sort by
            <mat-icon >more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="sortByDateOFPurchase()">Date of Purchase</button>
            <button mat-menu-item (click)="sortByEventDate()">Event Date</button>
            <button mat-menu-item (click)="sortByPrice()">Price</button>
        </mat-menu>
    </div>
    <div class="ticket-wrapper">
        <mat-card class="ticketCard" *ngFor="let ticket of userTickets">
            <mat-card-header>
                <mat-card-title>{{ticket.eventName}}</mat-card-title>
                <mat-card-subtitle>Date of purchase: {{ticket.dayOfPurchase}}</mat-card-subtitle>
            </mat-card-header>

            <img mat-card-image height="220px" src="{{this.constants.localhost + ticket.ticketBackground}}" alt="">

            <mat-card-content [id]="ticket.id + 'CARD'">
                <table>
                    <tr>
                        <td> Price: </td>
                        <td> {{ticket.price}} </td>
                    </tr>
                    <tr>
                        <td> For Day: </td>
                        <td> {{ticket.forDay}} </td>
                    </tr>
                    <tr>
                        <td> Location: &nbsp;</td>
                        <td>
                            <div class="show-map" (click)="showOnMap(ticket.location)"><i class="fa fa-map-marker " aria-hidden="true"></i> {{ticket.location}} </div>
                        </td>
                    </tr>
                    <tr>
                        <td l> Seat: </td>
                        <td> ({{ticket.row}}, {{ticket.column}}) {{ticket.eventSectionName}} </td>
                    </tr>
                </table>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="accent" (click)="goToDetails(ticket.eventID)" id="eventDetails"> EVENT DETAILS</button>
                <button *ngIf="!ticket.bought" mat-stroked-button color="accent" (click)="buy(ticket)" [id]="ticket.id + 'buy'" >BUY</button>
                <button *ngIf="!ticket.bought" mat-stroked-button color="accent" (click)="cancel(ticket)" [id]="ticket.id + 'cancel'">CANCEL</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <mat-paginator class="paginator" [length]="page.length" [pageIndex]="page.pageIndex" [pageSize]="page.pageSize" [pageSizeOptions]="[3, 4, 5, 6, 7, 8]" (page)="sendPage($event)" showFirstLastButtons>
    </mat-paginator>
</div>