<div>
    <app-location-list *ngIf="selectedScreen===0" (locationInfoEvent)="locationInfo($event)"
        (locationCreateEvent)="locationCreate()"></app-location-list>
    <app-location-info *ngIf="selectedScreen===1" (backToLocationEvent)="locationBack()"
        (updateLocationEvent)="updateLocation()" (hallInfoEvent)="hallInfo($event)" (createHallEvent)="createHall()"
        [locationId]="locationid" ></app-location-info>
    <app-location-create *ngIf="selectedScreen===2"(backToLocationEvent)="locationBack()"
        (backToLocationInfo)="backToLocationInfo()" [locationId]="locationid" [operation]="operation"></app-location-create>
    <app-hall-info *ngIf="selectedScreen===4" (backToLocationInfo)="backToLocationInfo()"
        (updateHallEvent)="updateHall()" (createSectionEvent)="createSection()" (sectionInfoEvent)="sectionInfo($event)"
        [locationId]="locationid" [hallId]="hallId"></app-hall-info>
    <app-hall-create *ngIf="selectedScreen===5" (backToLocationInfoEvent)="backToLocationInfo()"
        (backToHallInfoEvent)="backToHallInfo()" [locationId]="locationid" [hallId]="hallId" [operation]="operation"></app-hall-create>
    <app-section-info *ngIf="selectedScreen===7" (backToHallInfoEvent)="backToHallInfo()"
        (updateSectionEvent)="updateSection()" [sectionId]="sectionId">
    </app-section-info>
    <app-section-create *ngIf="selectedScreen===8" (backToHallInfoEvent)="backToHallInfo()" [hallId]="hallId"
        [sectionId]="sectionId" (backToSectionInfoEvent)="backToSectionInfo()" [operation]="operation">
    </app-section-create>
</div>