<mat-toolbar class="categories-toolbar">
    <span class="cat-wrapper">
    <button mat-button (click)="categoryChoosen(-1)">All categories </button>

    <span *ngFor="let category of categories">
            <button mat-button class="category-search" (click)="categoryChoosen(category.id)">
                <img  [src]="getImage(category.icon)" alt="" width="40" height="40"> {{ category.name }}
            </button>
        </span>
    </span>
</mat-toolbar>