<mat-card class="report-box">

    <form [formGroup]="reportForm" noval align="center" (ngSubmit)="reportForm.valid && onReportSubmit()">
        <table align="center">
            <tr>
                <td width="60%">
                    <mat-slide-toggle id="location-slide" [checked]="reportForm.controls.location.enabled" (change)="onLocationCtrlChange()">
                        Location report
                    </mat-slide-toggle>
                    <br/>
                    <mat-form-field class="medium-form-filed">
                        <input matInput id="location-input" formControlName="location" placeholder="Select location" [matAutocomplete]="autoLocation" (input)="getChosenLocation()">
                        <mat-autocomplete #autoLocation="matAutocomplete" (optionSelected)="getChosenLocation()">
                            <mat-option *ngFor="let locationName of filteredLocations | async" [value]="locationName">
                                <span>{{ locationName }}</span>
                            </mat-option>
                        </mat-autocomplete>

                    </mat-form-field>

                </td>

                <td width="40%">
                    <mat-form-field>
                        <input id="from-date-input" formControlName="fromDate" matInput [matDatepicker]="pickerFrom" placeholder="From date">
                        <mat-error *ngIf="reportForm.controls.fromDate.errors?.required && !reportForm.controls.fromDate.errors?.invalidDate">This field is required</mat-error>
                        <mat-error *ngIf="reportForm.controls.fromDate.errors?.invalidDate && !reportForm.controls.fromDate.errors?.required">You must pick a date in the past</mat-error>
                        <mat-error *ngIf="reportForm.errors?.compareDates">From date must be before to date</mat-error>
                        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFrom></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    <mat-slide-toggle id="event-slide" [checked]="reportForm.controls.event.enabled" (change)="onEventCtrlChange()">
                        Event report
                    </mat-slide-toggle>
                    <br />
                    <mat-form-field class="medium-form-filed">
                        <input matInput id="event-input" formControlName="event" placeholder="Select event" [matAutocomplete]="autoEvent" (focusout)="checkEvent()">
                        <mat-autocomplete #autoEvent="matAutocomplete">
                            <mat-option *ngFor="let eventBasicInfo of filteredEvents | async" [value]="eventBasicInfo.name">
                                <span>{{ eventBasicInfo.name }}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                </td>

                <td>
                    <mat-form-field>
                        <input id="to-date-input" matInput formControlName="toDate" [matDatepicker]="pickerTo" placeholder="To date">
                        <mat-error *ngIf="reportForm.controls.toDate.errors?.required && !reportForm.controls.toDate.errors?.invalidDate">This field is required</mat-error>
                        <mat-error *ngIf="reportForm.controls.toDate.errors?.invalidDate && !reportForm.controls.toDate.errors?.required">You must pick a date in the past</mat-error>
                        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                        <mat-datepicker #pickerTo></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    <mat-form-field class="medium-form-filed">
                        <mat-label>Select Event Date </mat-label>
                        <mat-select [formControl]="reportForm.controls.eDate">
                            <mat-option *ngFor="let eventDate of eventDates" [value]="eventDate">
                                {{eventDate | date:'medium'}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="reportForm.errors?.atLeastOneRequired && (reportForm.controls.location.touched || reportForm.controls.event.touched)">You must pick location or event</mat-error>
                    <mat-error *ngIf="reportForm.errors?.compareDates">From date must be before to date</mat-error>
                </td>

                <td>

                    <mat-radio-group formControlName="reportType" class="report-type-radio-group">
                        <mat-radio-button class="report-type-radio-button" *ngFor="let type of reportTypes " [value]="type">
                            {{type}}
                        </mat-radio-button>
                    </mat-radio-group>

                    <mat-form-field>
                        <input matInput hidden formControlName="reportType">
                        <mat-error>You must pick a report type</mat-error>
                    </mat-form-field>

                </td>
            </tr>
            <tr>
                <td align="right" colspan="2">
                    <button class="form-btn" type="reset" mat-stroked-button color="primary">Reset form</button> &nbsp;
                    <button id="report-submit-btn" class="form-btn" type="submit" mat-stroked-button color="primary">Create
                        Report</button>
                </td>
            </tr>

        </table>
    </form>

</mat-card>