<app-navbar [loggedIn]='false'></app-navbar>
<div  *ngIf="user">
<h1 style="text-align: center;">{{user.firstName}} {{user.lastName}}</h1>

<mat-tab-group mat-align-tabs="center" >
    <mat-tab label="Information">

      <app-user-info id ='userInfo' [user]='user' ></app-user-info>

    </mat-tab>
    <mat-tab label="Reservations">
        <app-user-ticket [reservations]="true" [paypal]='paypal' [userTickets]='reservedUserTickets' [page]="page" (messageEvent)="receivePage($event,false)"></app-user-ticket>
    </mat-tab>

    <mat-tab label="Bought Tickets">
        <app-user-ticket [reservations]="false" [userTickets]='boughtUserTickets' [page]="pageBought" (messageEvent)="receivePageBought($event, true)"></app-user-ticket>
    </mat-tab>

    <mat-tab label="Event Applications">
        <app-user-applications></app-user-applications>
    </mat-tab>

</mat-tab-group>
</div>
