.canvas{
    border: 1px solid blue;
    float: left;
}
.secInfo{
    height: 400px;
}
.left{
    float: left;
    margin-bottom: 25px;
}
.sections{
    margin-left: 25%;
}
.smallCard{
    width: 300px;
}
.sectionsHeader{
    margin-bottom: 10px;
}
.box2{
    float: left;
    margin-left: 25px;
    width: 15%;
}
.marginSmall{
    margin-right: 5px;
}